<!DOCTYPE html>
<html>
<head>
  <title>Depot</title>
  <%= stylesheet_link_tag "scaffold" %>
  <%= stylesheet_link_tag "depot", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body id="store">
  <div id="banner">
    <%= image_tag("logo.png") %>
    <%= @page_title || "Tjipa teksts" %>
  </div>
  <div id="columns">
    <div id="side">
      <% if @cart %>
      <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
      <%= render @cart %>
      <% end %>
      <% end %>
      <a href="http://localhost:3000">Home!</a><br />
      <a href="http://www..../faq">jautajumi</a><br />
      <a href="http://www..../news">jaunumi</a><br />
      <a href="http://amherststudent.amherst.edu/sites/default/files/field/image/milk%20and%20cookies.jpg">cepumi ar pienu</a><br /><br />
    <br/>It was <%= Time.now %> when u refreshed ur page!<br />
    <br/>You have visited store <%= pluralize session[:counter],'time' %> times!<br/>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
